@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

@layer {
  #toggle-switch::after {
    content: "";
    @apply h-full w-1/2 rounded-full bg-white absolute left-0 top-0 transform scale-110 transition-all duration-200;
  }
  #toggle-switch:checked::after {
    @apply left-8;
  }
}
.app {
  background-image: url("assets/first-bg.png"), 
    url("assets/second-bg.png"), url("assets/bg-footer.jpg");
  background-repeat: no-repeat , repeat;

}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
